.ql-editor {
  min-height: 300px;
}

img {
  max-width: 100%;
}

.featured-image {
  width: 100%;
  max-height: 500px;
  object-fit: contain;

  /* display: block;
  margin: 0 auto;
  object-fit: cover; */
}
